p {
  margin: 0;
}

.scenario {
  display: none;

  &:target {
    display: block;
  }
}

.gray-stripes {
  background: repeating-linear-gradient(90deg, gray, gray 1%, white 1%, white 19%, gray 19%, gray 20%);
}

.blue-stripes {
  background: repeating-linear-gradient(90deg, blue, blue 1%, white 1%, white 19%, blue 19%, blue 20%);
}

.green-stripes {
  background: repeating-linear-gradient(90deg, green, green 1%, white 1%, white 19%, green 19%, green 20%);
}

.red-stripes {
  background: repeating-linear-gradient(90deg, red, red 1%, white 1%, white 19%, red 19%, red 20%);
}

.chocolate-stripes {
  background: repeating-linear-gradient(90deg, chocolate, chocolate 1%, white 1%, white 19%, chocolate 19%, chocolate 20%);
}

.test-box {
  padding-top: 1.5rem;
  background: repeating-linear-gradient(90deg, gray, gray 1%, white 1%, white 19%, gray 19%, gray 20%);

  p {
    background-color: rgba(255, 100, 0, 0.1);
    font-size: 30px;
  }
}